---
// noinspection JSUnusedGlobalSymbols
export const prerender: boolean = true;

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Hammad Majid" description="On this page you can find more detailed information about me."> 
  <main class="p-4 space-y-8">
    <section class="space-y-4">
      <p class="text-justify">
        My name is Hammad Majid and I'm a Computer Science student from Islamabad. I'm currently doing front-end web development as a freelancer.
      </p>
      <p class="text-justify">
        On this website you can find information about me, projects I have worked on and blog posts I have written. I
        write mostly about
        stuff I find interesting so there is no specific theme. These topics might include: low level programming, web
        technologies, physics, mathematics
        and tea recipes.
      </p>
    </section>
   </main>
</BaseLayout>
