---
export const prerender: boolean = true;

import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
    title="Meta | Hammad Majid"
    description="Some meta information about the website itself."
>
    <main id="main-content" class="p-4 space-y-8">
        <section class="space-y-3">
            <h1 class="text-2xl font-semibold">Meta</h1>
            <p>
                This page contains some information about the website itself
                that I thought you might find usefull.
            </p>
        </section>
        <section class="space-y-3">
            <h2 class="text-xl font-medium" id="license">License</h2>
            <p>
                All content on this website is copyright free. That means that
                everything is under the public domain and you can use and reuse
                the content or code of this website however you would like.
            </p>
            <p>Attribution is appreciated, but not required.</p>
            <p>
                You can find the full &ldquo;license&rdquo; on the <a
                    class="text-light-accent hover:text-light-accent-hover"
                    href="https://github.com/hammadmajid/hammadmajid.me/blob/master/LICENSE"
                    rel="noopener">GitHub repo for this project</a
                >.
            </p>
        </section>
        <section class="space-y-3">
            <h class="text-xl font-medium" 2>Privacy</h>
            <p>
                By default I collect some web analytics and web vitals data
                using Vercel's <a
                    href="https://vercel.com/docs/analytics"
                    class="text-light-accent hover:text-light-accent-hover"
                    >WebAnalytics</a
                > and <a
                    href="https://vercel.com/docs/speed-insights"
                    class="text-light-accent hover:text-light-accent-hover"
                    >SpeedInsights</a
                > respectively. This data helps me understand the how the website
                is perforaming on differenct devices and browsers of if any page
                is borken/not working properly.
            </p>
            <p>
                The data collected is completely annyonmous and private. I or
                Vercel won't sell/share this data to anyone.
            </p>
        </section>
        <section class="space-y-3">
            <h2 class="text-xl font-medium">Humanmade Mark</h2>
            <p>
                In the footer of the website you will see a "Humanmade Mark"
                indicating that the content on this website is made by a real
                human being not by AI or dolphins.
            </p>
            <p>
                It also means that you will find human error all over the
                website. The error could be simple as spelling or grammer
                mistake to a page completly breaking on certain a browser or
                device.
            </p>
            <p>
                And if you do find such an error please open an issue on <a
                    class="text-light-accent hover:text-light-accent-hover"
                    href="https://github.com/hammadmajid/hammadmajid.me/issues/new/choose"
                    >GitHub</a
                >.
            </p>
        </section>
    </main>
</BaseLayout>
