<footer class="grid place-content-center text-center space-y-3 py-12">
    <p>
        <a
            href="/license"
            class="text-light-accent hover:text-light-accent-hover"
            >Unlicensed</a
        > by Hammad Majid {new Date().getFullYear()}
    </p>
    <p class="text-sm">
        Built with <a
            href="https://astro.build"
            class="text-light-accent hover:text-light-accent-hover">Astro</a
        > & <a
            href="https://tailwindcss.com"
            class="text-light-accent hover:text-light-accent-hover"
            >Tailwind CSS</a
        >. View the source code on <a
            href="https://github.com/hammadmajid/hammadmajid.me"
            class="text-light-accent hover:text-light-accent-hover">GitHub</a
        >.
    </p>
</footer>
