---
import { Image } from 'astro:assets';
import humanMadeMarkImage from '../../public/images/humanmade-mark.png';
---

<footer
    class="grid place-content-center text-center space-y-3 mt-12 py-12 px-4 border-t-2 border-light-border"
>
    <div class="flex flex-col justify-center items-center gap-4">
        <a href="https://humanmademark.com/" class="grid w-full md:w-1/2">
            <Image
                class="w-[50%] place-self-center"
                src={humanMadeMarkImage}
                alt="Humanmade Mark Logo indicating that content on this site is made by a real Human being not AI"
            />
        </a>
        <p>
            <a
                href="/license"
                class="text-light-accent hover:text-light-accent-hover"
                >Unlicensed</a
            > by Hammad Majid {new Date().getFullYear()}
        </p>
    </div>
    <p class="text-sm">
        Built with <a
            href="https://astro.build"
            class="text-light-accent hover:text-light-accent-hover">Astro</a
        > & <a
            href="https://tailwindcss.com"
            class="text-light-accent hover:text-light-accent-hover"
            >Tailwind CSS</a
        >. View the source code on <a
            href="https://github.com/hammadmajid/hammadmajid.me"
            class="text-light-accent hover:text-light-accent-hover">GitHub</a
        >.
    </p>
</footer>
